<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents"> <!-- 서치부분 지우기 -->
		<table border ="1">
			<thead>
				<tr>
					<th>상품코드</th>
					<th>상품명</th> 
					<th>상품단가</th>
					<th>판매자</th>
					<th>상품등록날짜</th>
				</tr>
			</thead>
			<tbody> 
				<tr th:if="${not #lists.isEmpty(resisInfoList)}" th:each="sl:${resisInfoList}">
					<td th:text="${sl.goodsCode}"></td>
					<td th:text="${sl.goodsName}"></td>
					<td th:text="${sl.goodsPrice}"></td>
					<td th:text="${sl.goodsSellerId}"></td>
					<td th:text="${sl.goodsRegDate}"></td>		
				</tr>				
				<tr th:unless="${not #lists.isEmpty(resisInfoList)}">
					<td colspan="8">등록된 상품이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</th:block>
</html>